.PathFindContainer {
    max-width: 80%;
    margin: auto;
}

.matrixContainer {
    width: fit-content;
    margin: auto;
}

.center {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.rowContainer {
    display: flex;
}

.btn-green, .btn-green:focus{
    background-color: #51b5b1;
    border: none;
}

.my-btn:focus{
    box-shadow:none;
}
.my-btn:hover {
    box-shadow: 0 0 5px 2.5px gray;
}

.my-btn:active:focus {
    box-shadow: none;
}

.btn-green:hover{
    background-color: #51b5bbff;
}

/* TODO make this look good (because it definitely doesn't right now) */
.error {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 20px;
    
    color: black;
    background-color: mediumvioletred;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 5px 2.5px gray;
}